<template>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>
  <div id="inicio">
    <h3>Inicio</h3>
    <div class="row">        
       <router-link to="/usuariosApi"  class="waves-effect blue btn">API de usuarios</router-link>      
    </div> 
      <router-link to="/persona" class="waves-effect blue btn">Local Storage de personas</router-link>          
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Inicio",

  mounted() {
    
  },
};
</script>
    
<style>
</style>
