<template>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>
  
  <div id="contacto ">
    <h3>Alta de Persona</h3>
    <div class="row container">
      <form class="col s12 ">
        <div class="row ">
          <div class="input-field ">            
            <input id="last_name" type="text" v-model="nombre" class="validate" />
            <label for="last_name">Nombre</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="email" type="text" v-model="email" class="validate" />
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
            <a v-on:click="agregarUsuario" onclick="M.toast({html: 'La persona ha sido guardada correctamente.'})" class="waves-effect blue btn">Guardar</a>              
            <router-link to="/"  class="waves-effect blue btn ml2 ">Volver</router-link>      
   
        </div>       
       
      </form>
        {{ informacion }}  {{ nombreLocalStorage }}  {{ mailLocalStorage }}
    </div>
  </div>
</template>

<script>
export default {
  name: "Persona",

  data() {
      return {
          nombre: '',
          mail: '',
          informacion: '',
          nombreLocalStorage: '',
          mailLocalStorage: ''
      }
  },
  
  mounted() {
    const plugin = document.createElement("script");
    plugin.setAttribute(
      "src",
      "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    );
    plugin.async = true;
    document.head.appendChild(plugin);
  },

  methods: {
      agregarUsuario: function() {         
            //localStorage.setItem('nombree', this.nombre)
            //localStorage.setItem('emaill', this.email)
            localStorage.nombre = this.nombre;
            localStorage.mail = this.email;
            this.informacion = 'Información almacenada en el local storage:';
            this.nombreLocalStorage =  localStorage.nombre;
            this.mailLocalStorage = localStorage.mail;
            this.nombre = '';
            this.email = '';
      }
  }
};
</script>


