<template>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>
  <div id="inicio">
    <h3>Listado de usuarios</h3>
    <table class="table stripped bordered container">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Usuario</th>
          <th>Correo</th>
          <th>Dirección</th>
          <th>Geolocalización</th>
          <th>Teléfono</th>
          <th>Sitio web</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in users">
          <td>{{ user.name }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>
            <ul>
              <li>Calle: {{ user.address.street }}</li>
              <li>Suite:{{ user.address.suite }}</li>
              <li>Ciudad:{{ user.address.city }}</li>
              <li>Codigo postal: {{ user.address.zipcode }}</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>{{ user.address.geo.lat }}</li>
              <li>{{ user.address.geo.lng }}</li>
            </ul>
          </td>
          <td>{{ user.phone }}</td>
          <td>{{ user.website }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">        
       <router-link to="/"  class="waves-effect blue btn ">Volver</router-link>      
  </div> 
</template>

<script>
import axios from "axios";

export default {
  name: "Inicio",

  data() {
    return {
      users: [],
    };
  },

  mounted() {
    let vue = this;
    axios
      .get("https://jsonplaceholder.typicode.com/users")
      .then(function (response) {
        vue.users = response.data;
      });
  },
};
</script>
    
<style>
</style>
